@import '../../variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  div {
    width: 33px;
    height: 33px;
    background: $__light__vampires;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $__secondarycolor;
    margin-right: 20px;
    cursor: pointer;

    &.active {
      background-color: $__primarycolor;
      color: $__secondarycolor;
    }

    &.pagination-arrow {
      font-size: 24px;
      color: $__secondarycolor;
    }

    &.pagination-arrow.inactive {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}

@import '../../variables.scss';

.pagination {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }

  &__item {
    width: 33px;
    height: 33px;
    background: $__light__vampires;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $__secondarycolor;
    margin-right: 20px;
    cursor: pointer;

    &.selected {
      background-color: $__primarycolor;
      color: $__white;
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: '';
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
